* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #EBECF0;
  }

  div{
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
  }

  form{
    padding: 16px;
    width: 30%;
    margin: 0 auto;
  }

  .title{
    padding: 32px 0;
    text-align: center;
  }

  button, input, select {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color:#EBECF0;
    text-shadow: 1px 1px 0 #FFF;
  }

  label {
    display: block;
    margin-bottom: 28px;
    width: 100%;
  }

  .radio{
    color: white;
  }

  input{
    
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
    &:focus {
      box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    }
  }

  select {
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    &:focus {
        box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
      }
  }

  .selectdiv::after{
    content: '›';
    rotate: 90deg;
    font-size: 36px;
    color: black;
    display:inline-block;
    position: absolute;
    right: 37%;
    margin-top: 5px;
  }
  

  button {
    color:#AE1100;
    font-size: 16px;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    
    &:hover {
      box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    }
    
    &:active {
      box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    }
    
}

.error {
    display: flex;
    order: 2;
    color: red;
    width: 100%;
    text-align: left;
    padding: 2px 10px;
    margin-left: 10px;
    
}

.custom-alert {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-alert-content {
  background-color: #fefefe;
  margin: 120px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  position: relative;
}

#alertMessage {
  color: #45a049;
}

.close {
  color: #aaa;
  margin-top: -7px;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}